version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zzq_stores
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

  server:
    build: .
    ports:
      - '4000:4000'
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/zzq_stores
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  db-data:
